{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="jumbotron mt-2">
                <div>
                    <legend>Password Reset</legend><hr>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
        
                    <input class="btn btn-outline-info mb-2" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
