<div class=" jumbotron bg-dark">
    
    <div class="row">
        <div class="col-md-3 text-center">
            <a class="link-item text-light" href="">Link #1</a>
        </div>

        <div class="col-md-3 text-center">
            <a class="link-item text-light" href="">Link #2</a>
        </div>

        <div class="col-md-3 text-center">
            <a class="link-item text-light" href="">Link #3</a>
        </div>

        <div class="col-md-3 text-center">
            <a class="link-item text-light" href="">Link #4</a>
        </div>

    </div>

</div>
