{% extends 'myapp/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-5 jumbotron bg-dark">
                <h1 class="text-light text-center">About</h1><hr>
                <p class="text-light">
                    Check out our posts here to find out whether your lost item has been posted by someone on
                    this platform. If yes, you can go right ahead to contact them in order to retrieve your
                    belongings. Thank your.
                </p>
            </div>
            <div class="col-5 offset-2">
                <img src="/media/telescope1.png" alt="">
            </div>
        </div>
    </div>

{% endblock %}

